$fc1: #000000
$fc2: #FFFFFF
$fc3: #646464
$fc4: rgb(78,124,159)
$fc5: rgb(12, 44, 69)

$bc1: #000000
$bc2: #FFFFFF
$bc3: rgb(255,240,230)
$bc4: rgb(250,250,245)
//$bc5: rgb(78,124,159)
$bc5: rgb(40, 85, 112)
$bc6: rgb(28,55,83)
